<div class="card filter">
    <div class="card-header">
     <strong>Filters</strong>
    </div>
    <div  class="card-body">
        <form>
            <div class="form Group">
              <!--  <lable for="from">from</lable>-->
              <strong for="search">Search</strong>
                <input type="search" id="search" placeholder="Search" class="search">
             </div>
             <hr>
             <div class="form Group">
              <!--   <lable for="to">To</lable>-->
              <strong for="">Filter By Types:</strong><br>
              <input type="checkbox">
              <small>Smart Phones</small><br>
              <input type="checkbox">
              <small>Feature Phones</small>
                
             </div>

             <hr>
             <div class="form Group">
              <!--   <lable for="to">To</lable>-->
              <strong for="">Filter By Brands:</strong><br>
              <input type="checkbox">
              <small>Realme</small><br>
              <input type="checkbox">
              <small>Samsung</small><br>
              <input type="checkbox">
              <small>Micromax</small><br>
              <input type="checkbox">
              <small>Redmi7</small>
              
             </div>

             <hr>
             <div class="form Group">
              <!--   <lable for="to">To</lable>-->
              <strong for="">Filter By OS:</strong><br>
              <input type="checkbox">
              <small>IOS</small><br>
              <input type="checkbox">
              <small>Android</small>
                
             </div>

              
            
             
             <button class="btn btn-primary btn-block btn-sm">Filter by Price</button>
            
        </form>
        
    </div>
</div>
